media_naming:
  folder: jellyfin-imdb
  movie:
    rename: true
    standard: jellyfin-imdb

custom_formats:
  - trash_ids:
      - dc98083864ea246d05a42df0d05f81cc # x265 (HD)
    assign_scores_to:
      - name: HD Bluray + WEB
        score: 100
  - trash_ids:
      - 839bea857ed2c0a8e084f3cbdbd65ecb # x265 (no HDR/DV)
    assign_scores_to:
      - name: HD Bluray + WEB

  - trash_ids:
      - 923b6abef9b17f937fab56cfcf89e1f1 # DV (w/o HDR fallback)

      # HDR10+ Boost - Uncomment the HDR10+ Boost line if you want to prefer HDR10+ releases
      # DV Boost - Uncomment the DV Boost line if you want to prefer DV releases
      # Uncomment both lines if you want to prefer both (DV HDR10+)
      # - b337d6812e06c200ec9a2d3cfa9d20a7 # DV Boost
      # - caa37d0df9c348912df1fb1d88f9273a # HDR10+ Boost
    assign_scores_to:
      - name: UHD Bluray + WEB
